$color-primary: #673ab7;
$color-primary_light: #9a67ea;
$color-primary_dark: #320b86;

$color-secondary: #2196f3;
$color-secondary_light: #6ec6ff;
$color-secondary_dark: #0069c0;

$primary-text-color: #ffffff;
$secondary-text-color: #000000;